@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900&display=swap');
$text: #233D50;

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: #233D50;
}

body{
    background-color: white!important;
}

.btn {
    background-color: rgb(228, 228, 0) !important;

    color: black !important;

    &:hover {
        background-color: black !important;
        color: yellow !important;
    }
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

//header.js
.form-control {
    width: 300px !important;
}

.nav-link {
    font-size: 16px !important;
    margin-left: 15px !important;

    &:hover {
        color: rgb(180, 180, 5) !important;
    }
}
.cart-btn{
    background-color: transparent !important;
    &:hover{
        background: transparent !important;
 
    }
}
.sticky {
    width: 100%;
    position: fixed !important;
    z-index: 999;
    margin-top: -90px;
  }
  
//Main
.banner-1,
.banner-2 {
    .banner-text {
        color: $text;
        left: 15%;
        top: 30%;
      letter-spacing: 5px;

        h4 {
            font-weight: 300;
            letter-spacing: 4px;
            line-height: 30px;
        }

        h2 {
            font-size: 48px;
            font-weight: 600;
           
        }
    }
}

//feature.js
.feature {
    h2 {
        font-weight: 700;
    }

    .owl-carousel {
        img {
            width: 150px;
        }
    }
}

//offers,js
.offers {
    h2 {
        font-weight: 700;
    }

    .feat1 {
        background: url(https://wpocean.com/html/tf/themart/assets/images/offer-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;

        h3 {
            font-size: 34px;
            font-weight: 600;
        }

        p {
            letter-spacing: 5px;
        }
    }

    .feat2 {
        background: url(https://wpocean.com/html/tf/themart/assets/images/banner-bg.jpg);
        background-repeat: no-repeat;
        background-position: center;

        h1 {
            color: aliceblue;
        }

        h4 {
            color: aliceblue;
        }

    }

}

//products.js
.products {
    h2 {
        font-weight: 700;
    }
}

.card {
    a{
        text-decoration: none;
        color: black;
        &:hover{
            color: rgb(196, 196, 1);
        }
    }
    position: relative;
    &:hover{
        .icons{
            right: 0px;
            opacity: 1;
        }
        .btn{
            bottom: 45%;
            opacity: 1;
        }
    }

    .discount {
        position: absolute;
        top: 15px;
        left: 5px;
        height: 50px;
        width: 50px;
        display: block;
        background-color: red;
        color: white;
        font-weight: bold;
        border-radius: 50%;
        text-align: center;
        line-height: 50px;
    }

    .icons {
       position: absolute;
       top: 15px;
       right: -50%;
       display: flex;
       width: 45px;
       background-color: rgba(201, 201, 201, 0.8);
       align-items: center;
       flex-flow: column;
       opacity: 0;
       a{
        font-size: 20px;
        color: black;
        margin: 10px 0px;
        &:hover{
            color: yellow;
        }
    }
    }

    .btn {
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translateX(-50%);
        height: 40px;
        width: 220px;
        border: none;
        outline: none;
        background-color: rgba(0, 0, 0, 0.6) !important;
        color: white !important;
        font-size: 15px;
        font-weight: 600;
        cursor: pointer;
        opacity: 0;
        
        &:hover{
            background-color: rgb(204, 204, 149) !important;
            color: black !important;
        }
    }
}

.cardimg {
    height: 280px;
    object-fit: cover;
}

.card-text2 {
    h6 {
        top: 10px;
    }
}

//deals.js
.deals{
    h2 {
        font-weight: 700;
    }
    .deal1{
        background: url(https://wpocean.com/html/tf/themart/assets/images/offer-bg-3.jpg);
        .deal1-text{
            line-height: 30px;
            h2{
                font-weight: 700;
                font-size: 42px;
                color: white !important;
                margin: 25px 0px;
            }
            h5{
                color: white !important;
                font-size: 30px;
                margin: 25px 0px;
                
            }
            p{
                color: white !important;
                font-size: 24px;
                padding-top: 5px;
                margin: 25px 0px;
            }
            .btn{
                border: none;
                font-size: 22px;
                margin: 15px 0px;
            }
        }
    }
}

//Trending
.trending{
    h2{
        font-weight: 700;
    }
}

//limited.js
.limiteddeals{
    background: url(../image/bg-1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    .timmer{
        text-align: center;
        font-size: 50px;
        margin-top: 0px;
        letter-spacing: 0.2em;
        color: rgb(0, 0, 0);
        h6, p{
            color: $text;
        }
}
.deals{
    p{
        color: $text;
    }
    span{
        color: rgb(203, 202, 202);
    }
}
.support{
    h2, h5, p{
        color: #ffffff;
    }
    

}

}

//Trends.js
.trend{
    position: relative;
    .overflow {
        overflow: hidden;
    
        img {
          transition: all 0.5s;
    
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      .trend-text{
        position: absolute;
        top: 30%;
        right: 20%;
      }
    
}

//email1.js
.email1{
    .overflow {
        overflow: hidden;
    
        img {
          transition: all 0.5s;
    
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      h5{
        top: 30%;
        z-index: 2;
        right: 15%;
        font-size: 28px;
        font-weight: 800;
      }
      .text2{
        top: 30%;
        z-index: 2;
        left: 15%;
        font-size: 28px;
        font-weight: 800;

      }
}
//selling
.selling{
    h2{
        font-weight: 700;
       
    }
    p, h6{
        &:hover{
            color: rgb(221, 221, 9);
        }
    }
    img{
        width: 100px;
    }
    .top-rated{
        img{
            width: 65px;
        }
    }
}

//signup
.signup{
    background: url(https://new.axilthemes.com/demo/template/etrade/assets/images/bg/bg-image-5.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

//single
.single{
    img{
        width: 240px !important;
    }
}

//totop
.top{
    .top-btn {
        background-color: black !important;
      position: fixed;
      bottom: 100px;
      right: 10px;
      padding: 10px;
      transition: 0.9s;
      display: none;
      z-index: 100000;
      a{
        color: yellow;
      }
  }
  }

  //hover
  #products{
    img{
        width: 100%;
        display: block;
    }
    #products{
        min-height: 100vh;
    }
    .product-wrapper{
        max-width: 1170px;
        margin: 0 auto;
        padding: 1rem;
    }
    .product-heading{
        font-size: 2.2rem;
        text-align: center;
        margin: 3rem 0;
        opacity: 0.9;
    }
    .product-item{
        border-radius: 4px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .product-img{
        overflow: hidden;
        position: relative;
    }
    .product-img-slider{
        display: flex;
        transition: transform 0.3s ease-in-out;
    }
    .product-img-slider img{
        min-width: 100%;
    }
    .product-img:hover .product-img-slider{
        transform: translateX(-100%);
    }
    .product-img button{
        position: absolute;
        left: 0;
        top: 2rem;
        border: none;
        color: #fff;
        background-color: #ababab;
        font-family: inherit;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 0.8rem 1rem;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .product-img button:hover{
        background-color: #9e9d9d;
    }
    .product-info{
        text-align: center;
        padding: 1.5rem 0;
    }
    .product-name{
        color: #ababab;
        font-size: 1.2rem;
        display: block;
        margin-bottom: 0.6rem;
    }
    .product-price{
        font-weight: 700;
        letter-spacing: 1px;
    }
    .product-icons{
        margin-top: 1.4rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .product-icons span{
        width: 40px;
        height: 40px;
        background-color: #eee;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0.3rem;
        border: 1px solid #e2e2e2;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .product-icons span:hover{
        background-color: #9e9d9d;
        color: #fff;
    }
    .product-grid{
        margin-bottom: 2rem;
        display: grid;
        gap: 2rem;
    }
    
    @media screen and (min-width: 576px){
        .product-grid{
            grid-template-columns: repeat(2, 1fr);
        }
    }
    
    @media screen and (min-width: 992px){
        .product-grid{
            grid-template-columns: repeat(3, 1fr);
        }
    }
  }

//bgattach
.bgatt{
    background: url(https://angular.pixelstrap.com/multikart/assets/images/parallax/1.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;

    h1{
        color: orangered;
        font-size: 80px;
        font-weight: 800;
    }
    h3{
        font-size: 60px;
        color: black;
        letter-spacing: 5px;
        line-height: 5rem;
    }
    h6{
        font-size: 40px;
        color: black !important;
        letter-spacing: 2px;
    }
}

//iphone
.iphone{
    .iphone-text{
        top: 25%;
        left: 10%;
        h5{
            font-size: 18px;
            font-weight: 300;
            color: black !important;
        }
        h2{
            font-size: 42px;
            font-weight: 600;
            color: black !important;
        }
    }
}